/* --- CONFIGURACIÓN GLOBAL --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html { overflow-y: scroll; }

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: 'Bebas Neue', sans-serif;
    overflow-x: hidden;
}

/* NAVBAR PRO */
.navbar {
    background: linear-gradient(45deg, #e73737, #b32a2a);
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.logo-img {
    height: 45px;
}

/* MENÚ */
.navbar-nav {
    gap: 15px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.1rem;
    position: relative;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffdede !important;
}

/* EFECTO LÍNEA */
.navbar-nav .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* DERECHA */
.user-actions {
    gap: 12px;
}

/* BUSCADOR */
.navbar .form-control {
    width: 180px;
    height: 35px;
    background: rgba(255,255,255,0.2);
    border: none;
    color: white;
}

.navbar .form-control::placeholder {
    color: rgba(255,255,255,0.7);
}

/* BOTONES */
.btn-login {
    background: white;
    color: #e73737;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.btn-register {
    background: #222;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-logout {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
}

/* --- CONTENIDO CATÁLOGO --- */
.banner {
    background-color: #0055aa;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.filtros {
    background: white;
    padding: 25px;
    border-radius: 12px;
    position: sticky;
    top: 95px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.product-card {
    border: none !important;
    border-radius: 12px;
    background: #fff;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.product-card:hover { transform: translateY(-8px); box-shadow: 0 12px 20px rgba(0,0,0,0.1); }

.footer {
    background-color: #003366;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: auto;
}


.navbar .container-fluid {
    display: flex;
    align-items: center;
}

/* LOGO */
.navbar-brand {
    width: 180px;
}

/* MENÚ */
.menu-nav {
    flex: 1;
    justify-content: flex-start;
}

/* DERECHA */
.user-actions {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

